.container {
  width: 400;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.inputFile {
  display: none;
}

.elementContainer {
  margin: auto;
}
