.container {
  display: grid;
  width: 30px;
  height: 30px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: lightgray;
  border-radius: 2px;
}
