.container {
  display: grid;
  width: 30px;
  height: 30px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border-radius: 10px;
  cursor: pointer;
}

.container:hover {
  background-color: rgba(120, 120, 120, 0.4);
}

.incline {
  height: 2px;
  width: 30px;
  grid-row: 1;
  grid-column: 1;
  background-color: rgb(47, 47, 47);
  transform: rotate(-45deg) translate(-10px, 10px);
}

.decline {
  height: 2px;
  width: 30px;
  grid-row: 1;
  grid-column: 1;
  transform: rotate(45deg) translate(10px, 10px);
  background-color: rgb(47, 47, 47);
}
