.main {
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(133, 157, 165, 0.4);
  align-items: center;
  justify-content: center;
}
.orContainer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
  gap: 10px;
}

.orSeparator {
  width: 100px;
  height: 2px;
  background-color: rgb(73, 73, 73);
}

.authContent {
  display: grid;
  grid-auto-flow: row;
  transition-duration: 0.5s;
  min-width: 280px;
  width: 360px;
  gap: 10px;
}

.authInput {
  border-radius: 18px;
  margin-bottom: 10px;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
  min-height: 40px;
  border: 1px solid gray;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  transition-duration: 0.5s;
}

.continueWithMailMenu {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

.successEmailSent {
  color: #63ae87;
  margin: auto;
}

.emailSentPicture {
  margin: auto;
}

.sentEmailMenu {
  display: grid;
  grid-auto-flow: row;
  gap: 5px;
}

.authInput:focus {
  border: 1px solid rgb(109, 109, 109);
}

.loginButton {
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.sendLinkButton {
  transition-duration: 0.5s;
  cursor: pointer;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

.googleButton {
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.googleButton:hover,
.loginButton:hover,
.sendLinkButton:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 6px 8px rgba(0, 0, 0, 0.3);
}
.googleButton:active {
  background-color: #eeeeee;
}
.googleButton:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.googleButton:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.successAnimation {
  height: 80px;
  width: 80px;
  background-color: white;
}
