.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
}

.modalFrame {
  border-radius: 16px;
  background-color: white;
  display: grid;
  padding-bottom: 10px;

  font-size: 2rem;
}

.header {
  padding-left: 30px;
  border-radius: 16px 16px 0px 0px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 30px;
  width: calc(100%);
  color: #505050;
  background-color: #eaeaea;
}

.title {
  margin: auto;
  font-size: 20px;
}

.dismissButton {
  width: fit-content;
  margin: 6px 6px 0px auto;
}
