.container {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  max-width: 100%;
  padding: 10px 10px 0px 10px;
  background-color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.card {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  width: 260px;
  border-radius: 20px 20px 0px 0px;
  background: rgba(var(--card-rgb), 0);
  transition: background 200ms, border 200ms;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.singInCard {
  display: grid;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 200px;
  padding: 10px 28px;
  font-size: larger;
  border-radius: 40px;
  background-color: rgb(3, 152, 97);
  color: white;
  text-decoration: none;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.singInCard:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 6px 8px rgba(0, 0, 0, 0.3);
}

.userCard {
  display: grid;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 280px;
  overflow: hidden;
  white-space: nowrap;
  font-size: large;
  border-radius: 40px;
  border: rgb(3, 152, 97) 2px solid;
  color: black;
  text-decoration: none;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.selectedBar {
  height: 3px;
  width: 100%;
  background-color: rgb(3, 152, 97);
  border-radius: 5px 5px 0px 0px;
}

.userItem {
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  padding: 6px 10px;
  gap: 6px;
  min-width: 120px;
  box-shadow: 0px 1px 0px lightgray;
}

.userName {
  display: grid;
  justify-content: center;
  align-items: center;
}

.otherItem {
  text-align: center;
  padding: 10px 0px;
  box-shadow: 0px 1px 0px lightgray;
}

.userItem:hover,
.otherItem:hover {
  background-color: lightgray;
}

.card h2 {
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.userMenu {
  margin-bottom: 6px;
  position: relative;
  width: fit-content;
}

.userDropdown {
  position: absolute;
  z-index: 2;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  font-size: large;
  background-color: white;
  border: rgb(3, 152, 97) 2px solid;
  text-decoration: none;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 250ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
  max-height: 46px;
}

.userMenu:hover > .userDropdown {
  opacity: 1;
  max-height: none;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(90, 85, 90, 0.1);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}
