.container {
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.card {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 300px;
  border-radius: 20px;
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.card h2 {
  font-weight: 500;
  margin-bottom: 0.7rem;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(90, 85, 90, 0.1);
    border: 1px solid rgba(#ffffff, 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}
