.container {
  border-radius: 50%;
  background-color: rgb(159, 219, 159);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.content {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  user-select: none;
}

.filter {
  width: 200px;
  height: 200px;
  grid-row: 1;
  grid-column: 1;
  border-radius: 50%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.editGrid {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.editButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(150, 150, 150);
  grid-row: 3;
  grid-column: 3;
  margin: auto;
  cursor: pointer;
  visibility: hidden;
}

.editButtonImage {
  grid-row: 3;
  grid-column: 3;
  margin: auto;
  cursor: pointer;
  visibility: hidden;
}

.editTooltip {
  visibility: hidden;
  font-size: 14px;
  transform: translateY(10px);
  grid-row: 3;
  grid-column: 3;
  margin-top: auto;
  background-color: rgba(75, 75, 75, 0.75);
  white-space: nowrap;
  padding: 0px 6px;
  border-radius: 4px;
  color: white;
}

.editButton:hover ~ .editTooltip,
.editButtonImage:hover ~ .editTooltip {
  visibility: visible;
}

.editGrid:hover > .editButton,
.editGrid:hover > .editButtonImage {
  visibility: visible;
}

.editGrid:hover ~ .filter {
  visibility: visible;
}

.container:hover > .filter {
  visibility: visible;
}
