.container {
  display: grid;
  grid-auto-flow: column;
  cursor: pointer;
  grid-template-columns: 4px 1fr;
  box-shadow: 0px 1px 0px #ececec;
  gap: 10px;
  padding-bottom: 20px;
}

.activeBar {
  width: 4px;
  height: 100%;
  visibility: hidden;
  border-radius: 2px;
  background-color: rgb(3, 152, 97);
}

.container:hover > .activeBar {
  visibility: visible;
}

.textContainer {
  display: grid;
  font-size: 16px;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.quote {
  text-align: left;
  font-size: 14px;
}

.sourceData {
  display: grid;
  grid-auto-flow: column;
}

.origin {
  visibility: hidden;
}

.author {
  font-weight: 500;
  font-size: 16px;
}

.authorR {
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
}

.reference {
  font-weight: 400;
  font-style: italic;
}
