.button {
  width: fit-content;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: none;
  background-color: rgb(3, 152, 97);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 6px 8px rgba(0, 0, 0, 0.3);
}
