.container {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
}

.userNameInput {
  display: grid;
  width: fit-content;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  grid-auto-flow: column;
}

.dateInput {
  display: grid;
  width: fit-content;
  gap: 20px;
  grid-auto-flow: column;
}

.buttonContainer {
  margin-left: auto;
}
